[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/delmitmate"]
	path = vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/checksyntax"]
	path = vim/bundle/checksyntax
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/ctags"]
	path = vim/bundle/ctags
	url = git://github.com/vim-scripts/ctags.vim--Johnson.git
